# ==============================================================================
# ENVIRONMENT TEMPLATE 
# ==============================================================================

# Backend API URL
NEXT_PUBLIC_API_URL=your_api_url

# Admin Portal URL
NEXT_PUBLIC_SITE_URL=your_public_site_url

# Storage URL
NEXT_PUBLIC_BLOB_BASE_URL=your_blob_url
